h1,
p {
  text-align: center;
}

h1 {
  font-size: 45px;
}
p {
  font-size: 18px;
}

body {
  background-color: rgba(128, 128, 128, 0.185);
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

select {
  font-size: 18px;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 13px;
}
h2 {
  font-size: 30px;
}
.city {
  position: relative;
  top: 35px;
  display: inline;
  justify-content: space-between;
}

.date {
  opacity: 0.7;
  position: relative;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.time {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  left: 60%;
  bottom: 70px;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
